<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <%- include('heads') %>
    <style>
        .nav-item:hover {
            background-color: gray;
        }
    </style>
</head>

<body>

    <footer class="text-center text-lg-start bg-light text-muted">

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 DESY DWI HARIYANI

        </div>
    </footer>
</body>

</html>