<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <%- include('heads') %>
    <style>
        .nav-item:hover {
            background-color: gray;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">BAJU DESY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/baju">Baju</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
</body>

</html>